<html>
   
   <head>
      <title>DAO Voting</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
      <meta name="ethereum-dapp-url-bar-style" content="transparent">
      <link rel="stylesheet" href="custom.css"/>
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />      
      <script src="bower_components/web3/dist/web3.js"></script>
   </head>


   <body ng-app="daovoting" ng-controller="DaoVotingCtrl">
    

     
    <div layout="column" flex ng-cloak style="height:100%">       
      <md-progress-linear md-mode="determinate" value="{{proposals.length*100/allProposals}}"></md-progress-linear>
      <md-toolbar class="md-theme-light" >
         <div class="md-toolbar-tools">
            <img src="logo.png" style="height:20px; padding-right:8px"/>
            <h2><span>Proposals</span></h2>
            <span flex> </span>
            <span layout="row" style="font-size:12px" class="centeredRow">
                <md-switch ng-model="filter.split" aria-label="Split" >
                    <span style="color:white">Splits ({{(proposals | filter:{split:true}).length}})</span>
                </md-switch>
  
                <div layout="row" ng-show="accounts && accounts.length>1" class="centeredRow">
                    <md-select ng-model="account">
                        <md-option ng-repeat="entry in accounts" value="{{entry}}">{{entry}}</md-option>
                    </md-select>
                </div>
            </span>

         </div>
      </md-toolbar>
    <div class="ptabs" layout="row">
        <div flex layout="row" layout-align="start end" style="min-width:200px">
            <md-tabs flex layout-align="start end">
                <md-tab md-active="filter.active"  label="Current ({{(proposals | filter:{active:true, split:filter.split, content:filter.content}).length}})"   md-on-select="filter.active=true"></md-tab>
                <md-tab md-active="!filter.active" label="Previous ({{(proposals | filter:{active:false, split:filter.split, content:filter.content}).length}})" md-on-select="filter.active=false"></md-tab>
            </md-tabs>
        </div>
        <md-input-container style="padding-bottom:2px;margin-top:0px" class="pwhite md-block">
            <md-icon style="color:white">search</md-icon>
            <input placeholder="Search" style="color:white;width:140px" ng-model="filter.content">
        </md-input-container>
    </div>
      <md-content >
         <md-list>
            <md-list-item class="{{p.active?'newProposal':'oldProposal'}}" ng-repeat="p in proposals | filter:filter:strict" layout="column">
                <div layout="row" style="width:100%">
                    <identicon username="p.creator" size="48" class="face noselect" ng-click="showProposal(p)"></identicon>
                    <div class="md-list-item-text" flex>
                        <div flex layout="row" class="headline">
                            <div class="desc noselect" ng-click="showProposal(p)">{{p.description}}
                                <div class="date">{{p.votingDeadline.toLocaleDateString()}}</div> 
                            </div>
                            <div flex> </div>
                            <div ng-show="!p.split">
                                <div class="amount">{{p.amount | ethnumber}}</div>
                                <div class="eth">ETH</div>
                            </div>
                        </div>
                    </div>
                 </div>
                    <div class="slideDown" collapse="currentProposal!==p" style="display:none;width:100%" layout="column" flex>
                        <div ng-bind-html="p.descriptionHTML">test</div>
                        <div>
                            <div layout="row" flex><div class="plabel">ID: </div><div  class="pvalue"> {{ p.id }} </div></div>                                
                            <div layout="row" flex><div class="plabel">Creator: </div><div class="pvalue" flex> {{ p.creator }} </div></div>                                
                            <div layout="row" flex><div class="plabel">Recipient: </div><div class="pvalue" flex> {{ p.recipient }} </div>      </div>                          
                            <div layout="row" flex><div class="plabel">Deposit: </div><div  class="pvalue" flex> {{ p.proposalDeposit | number:2 }} ETH </div>     </div>                           
                            <div layout="row" flex><div class="plabel">Quroum: </div><div class="pvalue" flex> {{ (p.yea+p.nay)*100/total | number:2 }}% of {{ p.minQuroum()*100/total | number:2}}% </div>      </div>                          
                                
                            <div ng-show="p.split" class="ptext">
                                This Proposal is requesting a new Curator. It will split The DAO to create it's own DAO. Voting Yes allows you to also Split. You will have to confirm this vote by Calling the function SplitDAO() to actually leave The DAO.
                            </div>
                            
                            <div ng-show="!p.open" layout="row" flex>
                               <div layout="row" flex><div class="plabel">Passed: </div><div  class="pvalue">
                                 <span ng-show="p.proposalPassed" style="color:green;font-size:12px">Yes</span>
                                 <span ng-show="!p.proposalPassed" style="color:red;font-size:12px">No</span>
                               </div></div>
                             
                            </div>
                            
                            <div style="margin-top:20px" class="progressRow" layout="row" flex>
                                 <div class="plabel">Yes:</div>
                                 <md-progress-linear flex md-mode="determinate" value="{{p.yea*100/total}}"></md-progress-linear>
                                 <div class="pnumber">{{p.yea | ethnumber}}</div>
                                 <div class="pnumber">({{p.yea*100/total | number:2}}%) &nbsp;</div>
                            </div> 
                            
                            <div style="margin-bottom:20px" class="progressRow" layout="row" flex>
                                 <div class="plabel">No:</div>
                                 <md-progress-linear flex md-mode="determinate" value="{{p.nay*100/total}}"></md-progress-linear>
                                 <div class="pnumber">{{p.nay | ethnumber}}</div>
                                 <div class="pnumber">({{p.nay*100/total | number:2}}%) &nbsp;</div>
                            </div> 
                            
                            <div>
                              <md-button class="md-raised md-primary"  ng-disabled="!p.enabled" ng-click="sendVotingTransaction($event,true)">YES</md-button>
                              <md-button class="md-raised md-primary"  ng-disabled="!p.enabled" ng-click="sendVotingTransaction($event,false)">NO</md-button>
                            </div>
                        </div>
                    </div>                 
            </md-list-item>
         </md-list>
      </md-content>
    </div>
      
     

       
       
       
       <script src="bower_components/angular/angular.min.js"></script>
       <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
       <script src="bower_components/angular-animate/angular-animate.min.js"></script>
       <script src="bower_components/angular-messages/angular-messages.min.js"></script>
       <script src="bower_components/angular-aria/angular-aria.min.js"></script>
       <script src="bower_components/angular-material/angular-material.js"></script>
       <script src="bower_components/identicon/pnglib.js"></script>
       <script src="bower_components/identicon/identicon.js"></script>
       <script src="bower_components/angular-identicon/dist/angular-identicon.min.js"></script>
       <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
       <script src="bower_components/marked/lib/marked.js"></script>
       <script src="voting.js"></script>
   </body>
      
</html>
