<html>
   
   <head>
      <title>DAO Voting</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="custom.css"/>
      <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
      <script src="bower_components/web3/dist/web3.js"></script>
   </head>


   <body ng-app="daovoting" ng-controller="DaoVotingCtrl">
    

     
    <div layout="column" flex ng-cloak style="height:100%">       
      <md-progress-linear md-mode="determinate" value="{{proposals.length*100/allProposals}}"></md-progress-linear>
      <md-toolbar class="md-theme-light" >
         <div class="md-toolbar-tools">
            <h2><span>Proposals</span></h2>
            <span flex> </span>
            <span layout="row" style="font-size:12px" class="centeredRow">
                <md-radio-group ng-model="filter.active" layout="row"  class="centeredRow">
                    <md-radio-button ng-value="true" >current ( {{(proposals | filter:{active:true}).length}} )</md-radio-button>
                    <md-radio-button ng-value="false"> old ( {{(proposals | filter:{active:false}).length}} )</md-radio-button>
                </md-radio-group>
                <md-radio-group ng-model="filter.split" layout="row" class="centeredRow">
                    <md-radio-button ng-value="false" >Proposal ( {{(proposals | filter:{split:false}).length}} )</md-radio-button>
                    <md-radio-button ng-value="true"> Split ( {{(proposals | filter:{split:true}).length}} )</md-radio-button>
                </md-radio-group>
                <div layout="row" ng-show="accounts && accounts.length>1" class="centeredRow">
                    <md-select ng-model="account">
                        <md-option ng-repeat="entry in accounts" value="{{entry}}">
                            {{entry}}
                        </md-option>
                    </md-select>
                </div>
            </span>

         </div>

      </md-toolbar>
      <md-content >
         <md-list>
            <md-list-item class="{{p.active?'newProposal':'oldProposal'}}" ng-repeat="p in proposals | filter:filter:strict">
                <identicon username="p.creator" size="48" class="face noselect" ng-click="showProposal(p)"></identicon>
                <div class="md-list-item-text" flex>
                    <h3 class="desc noselect" ng-click="showProposal(p)">{{p.description}}</h3>
                    <div layout="row" flex>
                        <div flex="10" ng-show="!p.split">Amount:</div><div ng-show="!p.split"><b> {{p.amount | number:2 }} </b>ETH</div>
                        <div flex> </div>
                        <div class="date">ends: {{p.votingDeadline.toLocaleDateString()}}</div>
                    </div>
                    <div ng-bind-html="p.descriptionHTML">test</div>
                    <div class="slideDown" collapse="currentProposal!==p" style="display:none">
                        <div>
                            <div layout="row" flex><div flex="10">Creator: </div><div > {{ p.creator }} </div></div>                                
                            <div layout="row" flex><div flex="10">Recipient: </div><div > {{ p.recipient }} </div>      </div>                          
                            <div layout="row" flex><div flex="10">Deposit: </div><div > {{ p.proposalDeposit | number:2 }} ETH </div>     </div>                           
                                
                            <div ng-show="p.split">
                                This Proposal is requesting a new Curator; it will split The DAO to create it's own DAO. Voting Yes allows you to also Split. You will have to confirm this vote by Calling the function SplitDAO() to actually leave The DAO.
                            </div>
                            
                            <div ng-show="!p.open" layout="row" flex>
                               <div flex="10">Passed with :</div>
                               <div> 
                                 <span ng-show="p.propoalPassed" style="color:green;font-size:12px">Yes</span>
                                 <span ng-show="!p.propoalPassed" style="color:red;font-size:12px">No</span>
                               </div>
                             
                            </div>
                            
                            <div style="margin-top:20px" class="progressRow" layout="row" flex>
                                 <div flex="10">Yes:</div>
                                 <div flex="25">{{p.yea| number:0}}</div>
                                 <div flex="8">({{p.yea*100/total | number:2}}%) &nbsp;</div>
                                 <md-progress-linear flex md-mode="determinate" value="{{p.yea*100/total}}"></md-progress-linear>
                            </div> 
                            
                            <div style="margin-bottom:20px" class="progressRow" layout="row" flex>
                                 <div flex="10">No:</div>
                                 <div flex="25">{{p.nay | number:0}}</div>
                                 <div flex="8">({{p.nay*100/total | number:2}}%) &nbsp;</div>
                                 <md-progress-linear flex md-mode="determinate" value="{{p.nay*100/total}}"></md-progress-linear>
                            </div> 
                            
                            <div>
                              <md-button class="md-raised md-primary"  ng-disabled="!p.enabled" ng-click="sendVotingTransaction($event,true)">YES</md-button>
                              <md-button class="md-raised md-primary"  ng-disabled="!p.enabled" ng-click="sendVotingTransaction($event,false)">NO</md-button>
                            </div>
                        </div>
                    </div>            
                </div>
            </md-list-item>
         </md-list>
      </md-content>
    </div>
      
     

       
       
       
       <script src="bower_components/angular/angular.min.js"></script>
       <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
       <script src="bower_components/angular-animate/angular-animate.min.js"></script>
       <script src="bower_components/angular-messages/angular-messages.min.js"></script>
       <script src="bower_components/angular-aria/angular-aria.min.js"></script>
       <script src="bower_components/angular-material/angular-material.js"></script>
       <script src="bower_components/identicon/pnglib.js"></script>
       <script src="bower_components/identicon/identicon.js"></script>
       <script src="bower_components/angular-identicon/dist/angular-identicon.min.js"></script>
       <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
       <script src="bower_components/marked/lib/marked.js"></script>
       <script src="voting.js"></script>
   </body>
      
</html>
